.terms-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
}

.terms-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  color: white;
}

.back-button {
  background: green;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 0.8rem 2.3rem;
  border-radius: 1.5rem;
  margin: 1rem auto;
  width: fit-content;
  transition: background 0.3s ease;
}

.terms-content {
  /* max-width: 800px; */
  width: 80%;
  margin: 0 auto;
  border-radius: 12px;
  background: white;
  padding: 40px;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.terms-content p {
  font-size: 15px;
  line-height: 1.8;
  margin: 0 0 3px 0;
  font-weight: 500;
  text-align: center;
  color: var(--text-secondary);
}

@media (max-width: 480px) {
  .terms-content {
    max-width: 90%;
    padding: 20px;
  }
}
