.footer {
  color: white;
  margin-top: 5rem;
  width: 100%;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
}
.footer-inner-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .footer-inner-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    margin: 0 auto;
    width: fit-content;
  }
}

.footer-title {
  font-weight: 600;
  font-size: 24px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.copyright {
  padding: 1rem 0;
  text-align: center;
}
